@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
    --font-helvetica-sans: 'Helvetica, sans-serif';
  }
  
  .font-helvetica {
    font-family: var(--font-helvetica-sans);
  }
  @layer components {
   
  }
@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}


/* new: Krona One */
.font-krona {
  font-family: var(--font-krona-one);
}